{% extends 'base.html.twig' %}

{% block title %}Subscription index{% endblock %}

{% block body %}

    <h1>Notification subscriptions</h1>

    <h2>Subscribe!</h2>

    <script type="module">
    import { subscribeUserToPush, notifyUser } from "/js/push-notify.js";
    const vapid_public_key = "{{ vapid_public_key }}";
    window.subscribe = () => subscribeUserToPush(vapid_public_key);
    window.notify = (id) => notifyUser(id);
    </script>
    
    <script>
    </script>

    <p>
        <button onclick="subscribe()">Subscribe</button>
    </p>

    <h2>Current subscriptions</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Id</th>
                <th>Endpoint</th>
                <th>P256dh</th>
                <th>Auth</th>
                <th>Last notified</th>
                <th>Send push notification</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>
                    {{ include('subscription/_delete_form.html.twig') }}
                </td>
                <td>
                    #{{ subscription.id }}
                </td>
                <td>
                    {{ subscription.endpoint[-10:] }}
                </td>
                <td>
                    {{ subscription.p256dh[-10:] }}
                </td>
                <td>
                    {{ subscription.auth[-10:] }}
                </td>
                <td>
                    {{ subscription.lastNotified ? subscription.lastNotified|date('j-n G:i', 'Europe/Amsterdam') : '-' }}
                </td>
                <td>
                    {{ include('subscription/_notify_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Currently no subscriptions!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
