{% extends 'base.html.twig' %}

{% block title %}Subscription index{% endblock %}

{% block body %}

    <h1>Notification subscriptions</h1>

    <h2>Subscribe!</h2>

    <script src="/js/push-notify.js"></script>
    
    <script>
    const vapid_public_key = "{{ vapid_public_key }}";
    </script>

    <p>
        <button onclick="registerServiceWorker()">Register serviceWorker</button>
        <button onclick="askPermission()">Fix the permission</button>
        <button onclick="subscribeUserToPush(vapid_public_key)">Subscribe</button>
    </p>

    <h2>Current subscriptions</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Endpoint</th>
                <th>P256dh / Auth</th>
                <th>Last notified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.id }}</td>
                <td>
                    {{ subscription.endpoint[:55] }}...{{ subscription.endpoint[-10:] }}
                </td>
                <td>
                    {{ subscription.p256dh[:10] }}...{{ subscription.p256dh[-10:] }}
                    <br />
                    {{ subscription.auth }}
                </td>
                <td>
                    {{ include('subscription/_delete_form.html.twig') }}
                    {{ include('subscription/_notify_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Currently no subscriptions!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
